@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  font-family: "Lexend", sans-serif !important;
}

.fira-sans {
  font-family: "Fira Sans", sans-serif;
}

@layer base {
  ul, ol {
    list-style: revert;
  }
}