@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Lato:wght@400;700&family=Source+Serif+4:opsz,wght@8..60,500;8..60,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
    font-family: 'Inter', sans-serif;
}

.source-sarif {
    font-family: 'Source Serif 4', serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.lexend-deca {
    font-family: 'Lexend Deca', sans-serif;
}

.input-filed {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.map img{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

textarea {
    resize: none;
  }